
.Contact {
  margin-top: 15.5rem;
  width: 29.4375rem;
  height: 19rem;
  background: #e0752f 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 76.5rem;
  position: relative;
}

.container-contacto {
  margin-bottom: 0rem;
  left: 0rem;
  width: 85.375rem;
  height: 48rem;
  background: #f2f4f1 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.container-contacto h2 {
  left: auto;
  right: 54.9375rem;
  top: 9.75rem;
  margin-left: 0rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  position: relative;
  font-size: 2.4375rem;
  font-weight:600;
  letter-spacing: 0.0344rem;
}
.Form {
  left: auto;
  right: 54.9375rem;
  top: 13.1875rem;
  margin-left: 0rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  position: relative;
  font-size: 2.4375rem;
  font-weight:600;
  letter-spacing: 0.0344rem;

}

.FotoGlobos {
  width: 37.5rem;
  height: 25rem;
  // left: auto;
  left: -19rem;
  background: transparent url("../../assets/Images/contact-image.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  // position: relative;
  position: absolute;
  // top: -31.75rem;
  top: 13.25rem;
  right: 18.9375rem;
}

.RectanguloGrisContacto {
  margin-left: 60.5rem;
  width: 24.875rem;
  height: 48rem;
  background: #dce1da 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.form-control {
  width: 29.4375rem;
  border-top-width: 0rem;
  border-right-width: 0rem;
  padding-bottom: 0.6875rem;
  padding-top: 0.6875rem;
  padding-right: 0rem;
  border-left-width: 0rem;
  opacity: 1;
  background-color: transparent;
  position: relative;
  font-weight: 600;
  text-align: left;
  font: normal normal medium 1rem/1.3125rem Roboto;
  letter-spacing: 0.0138rem;
  color: #5F6368;

}

.button2 {
  top: 1.25rem;
  width: 9rem;
  height: 3rem;
  // left: -54.9375rem;
  background: #e0752f 0% 0% no-repeat padding-box;
  border-radius: 1.5625rem;
  border: 0rem;
  padding: 0rem;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.0138rem;
  color: #ffffff;
  position: relative;
}

 // .alert {
//     top: -21rem;
//     position: relative;
//     padding: 1rem 1rem;
//     margin-bottom: 1rem;
//     border: 1px solid transparent;
//     border-radius: 0.25rem;
// }

.alert-danger {
    color: #842029;
    background-color: #f8d7da;
    border-color: #f5c2c7;
    font-size: medium;
    top: -18rem;
    left: 2rem;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert-success {
    color: #1B5E20;
    background-color: #5cb85c;
    border-color: #f5c2c7;
    font-size: medium;
    top: -18rem;
    left: 2rem;
    position: relative;
    padding: 1rem 1rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

// .alert_invalid_field {
//   font-size: x-small;
// } 




