

.Section2{
  top: -7rem;
  position: relative;
}

/*Rectángulo naranja a la izquierda de la segunda seccion*/

.rectangulo {
  top: 57rem;
  left: 0rem;
  width: 2rem;
  height: 24rem;
  margin-bottom: 9rem;
  background: #e0752f 0% 0%;
  height: 24rem;
}

h4 {
  font-family: "Poppins", sans-serif;
  font-size: 2.4375rem;
  font-weight: 600;
  margin-left: 18.6875rem;
  width: 25.625rem;
  height: 6.25rem;
  margin-top: 10.4375rem;
  margin-bottom: 2.75rem;
  top: 2.125rem;
  letter-spacing: 0.0344rem;
  opacity: 1;
  line-height: 2.8125rem;
  position: relative;
}

.rectangulo > h4 {
  width: 26.125rem;
  height: 6.25rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.4375rem;
  font-weight: 600;
  margin-left: 18.6875rem;
  margin-bottom: 0rem;
  letter-spacing: 0.0344rem;
  opacity: 1;
  line-height: 2.8125rem;
}

.rectangulo > h4 > span {
  top: 57rem;
  width: 25.125rem;
  height: 6.25rem;
  margin-bottom: 9rem;
  font-family: "Poppins", sans-serif;
  font-size: 2.4375rem;
  font-weight: 600;
  letter-spacing: 0.0344rem;
  opacity: 1;
  line-height: 2.8125rem;
}

.Section2_text{
  margin-top: 4.75rem;
  margin-left: 18.6875rem;
  width: 48rem;
  height: 12.3125rem;
  text-align: left;
  font: normal normal normal 1rem/1.75rem "Roboto";
  letter-spacing: 0.0138rem;
  color: #343434;
  opacity: 1;
  position: absolute;
}
