

.Section4 {
  top: 44rem;
  position: relative;
}

.RectanguloFotoRuta {
  left: 0rem;
  width: 85.375rem;
  height: 48rem;
  background: #ffffff 0% 0% no-repeat padding-box;
  opacity: 1;
  position: absolute;
}

.FotoRuta {
  margin-left: 37.25rem;
  width: 48.125rem;
  height: 48rem;
  background: transparent url("../../assets/Images/section4-image.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  position: relative;
}
 
