@charset "UTF-8";
/* header */
.container {
  margin-left: 6.25rem;
  margin-right: 6.875rem;
}

/* barra de navegación */

.nav-ul {
  list-style: none;
}
.nav-ul ul {
  margin-right: 3rem;
    font-family: "Roboto", sans-serif;
    text-align: center;
    letter-spacing: 0rem;
    color: #ffffff;
    opacity: 1;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom:0.063rem;
    margin-right:6.313rem;
    height:4.313rem;
  }

  li {
    list-style: none;
  }

  ul {
    padding-left: 0rem;
  }

  a {
    text-decoration: none;
    color: white;
  }

  /* /barra de navegación */
  .cont-nav {
    border: 0.063rem solid #e0752f;
    opacity: 1;
    height: 4.375rem;
    border-left-width: 0rem;
    border-top-width: 0rem;
    border-right-width: 0rem;
      position: sticky;
    position: -webkit-sticky;
    top: 0;
      margin-bottom: 0!important;
      z-index: 20;
  }

  .h1-header {
      top: 15.875rem;
      // left: 6.3125rem;
      width: 34.625rem;
      height: 7.188rem;
      padding:0rem;
      font-family: "Poppins", sans-serif;
      font-weight: 600;
      text-align: left;
      letter-spacing: 0rem;
      color: #ffffff;
      position: absolute;
      opacity: 1;
  }

  h1 {
    font-size: 3rem;
    line-height: 3.125rem;
  }

.cont-header {
  top: 0rem;
  left: 0rem;
  width: 100%;
  // width: 85.375rem;
  height: 48rem;
  // background: transparent url("../../assets/Images/slider-1.png") 0% 0% no-repeat padding-box;
  opacity: 1;
  position:relative;

}

.top-logo {
  top: 2.0625rem;
  left: 8.3125rem;
  height: 1.875rem;
  // background: transparent url("../../assets/Images/top-logo.svg") 0% 0% no-repeat padding-box;
  opacity: 1;
}

.button {
  top: 30rem;
  left: 6.3125rem;
  width: 9rem;
  height: 3rem;
  margin: 0rem;
  padding: 0rem;
  background: #e0752f 0% 0% no-repeat padding-box;
  border-radius: 1.5625rem;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: center;
  letter-spacing: 0.0138rem;
  color: #ffffff;
position:absolute;
}

/* /header */
.carousel-control-prev, .carousel-control-next{
opacity: 0;
}
