.Contact {
  margin-top: 248px;
  margin-left: 495px;
  width: 471px;
  height: 304px;
  background: #e0752f 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 1800px;
}



.container-contacto {
  margin-bottom: 0px;
  left: 0px;
  width: 1366px;
  height: 768px;
  background: #f2f4f1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.container-contacto h2 {
  left: auto;
  right: 879px;
  top: 156px;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  position: relative;
  font-size: 39px;
  font-weight:600;
}

.FotoGlobos {
  width: 600px;
  height: 400px;
  left: auto;
  background: transparent url("../../assets/Images/contact-image.png") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  position: relative;
  top: -220px;
  right: 303px;
}

.RectanguloGrisContacto {
  margin-left: 968px;
  width: 398px;
  height: 768px;
  background: #dce1da 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

input {
  top: 195px;
  right: 879px;
  width: 471px;
  border-top-width: 0px;
  border-right-width: 0px;
  padding-bottom: 0px;
  padding-top: 31px;
  padding-right: 0px;
  border-left-width: 0px;
  opacity: 1;
  background-color: transparent;
  position: relative;
  line-height: 31px;
  font-weight: 600;
}

.button2 {
  top: 228px;
  width: 144px;
  height: 48px;
  left: -879px;
  background: #e0752f 0% 0% no-repeat padding-box;
  border-radius: 25px;
  border: 0px;
  padding: 0px;
  opacity: 1;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.22px;
  color: #ffffff;
  position: relative;
}


