.footer {
  top: 105rem;
  left: 0rem;
  width: 85.375rem;
  height: 6rem;
  background: #343434 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  text-align: left;
  font: normal normal normal 1rem/1.75rem "Roboto";
  letter-spacing: 0.0138rem;
  color: #dce1da;
  opacity: 1;
  text-indent: 6.3125rem;
}

.copy {
  margin-top: 0rem;
  padding-top: 2.375rem;
}

.footer-logo {
  top: 2.1875rem;
  bottom: 2rem;
  left: 73.6875rem;
  width: 5.375rem;
  height: 1.25rem;
  background: transparent url("../../assets/Images/footer-logo.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  position: absolute;
}


