.footer {
  top: 0px;
  left: 0px;
  width: 1366px;
  height: 96px;
  background: #343434 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
  text-align: left;
  font: normal normal normal 16px/28px "Roboto";
  letter-spacing: 0.22px;
  color: #dce1da;
  opacity: 1;
  text-indent: 101px;
}

.copy {
  margin-top: 0px;
  padding-top: 38px;
}

.footer-logo {
  top: 35px;
  bottom: 32px;
  left: 1179px;
  width: 86px;
  height: 20px;
  background: transparent url("../../assets/Images/footer-logo.svg") 0% 0%
    no-repeat padding-box;
  opacity: 1;
  position: absolute;
}


