
.carousel {
  height: 768px;
  width: 1366px;
  top: 0px;
  left: 0px;
  position: absolute;
  z-index: -90;
  opacity: 1;
}

// .carousel.image{
//   width: 100%;
//   height: 100%;
  // }
  .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

// .carouselImage1 {
//     background: transparent url(../../assets/Images/slider-1.png);
//     background-size: cover;
//     -moz-background-size: cover;
//   }
// 
// .carouselImage2 {
//     background: transparent url(../../assets/Images/slide2.jpg);
//     background-size: cover;
//     -moz-background-size: cover;
// }
// .carouselImage3 {
//     background: transparent url(../../assets/Images/slide3.jpg);
//     background-size: cover;
//     -moz-background-size: cover;
//   }
// 
.carousel-indicators {
    position: absolute;
    top: 538px;
    bottom: 176px;
    left: -101px;
    z-index: 2;
    display: flex;
    justify-content: flex-start;
    padding: 0;
    margin-right: 15%;
    margin-bottom: 1rem;
    margin-left: 15%;
    list-style: none;
    flex-direction: row;
    align-items: center;
}

  h3 {
   top: -557px;
   left: -74px;
   width: 346px;
   height: 42px;
   font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-medium) var(--unnamed-font-size-16)/var(--unnamed-line-spacing-21) var(--unnamed-font-family-roboto);
   letter-spacing: var(--unnamed-character-spacing-0-22);
   font-weight: 400;
   color: var(--unnamed-color-ffffff);
   text-align: left;
   font: normal normal medium 16px/21px Roboto;
   letter-spacing: 0.22px;
   color: #FFFFFF;
   opacity: 1;
   position: absolute;
 }
  .carousel_text {
  top: -494px;
  margin-left: -77px;
  width: 768px;
  height: 197px;
  text-align: left;
  font: normal normal normal 16px/28px "Roboto";
  letter-spacing: 0.22px;
  color: #FFFFFF;
  opacity: 1;
  position: absolute;
}
