
.fotoCasa {
  top: 1440px;
  margin-bottom: 0px;
  left: 0px;
  width: 1366px;
  height: 768px;
  background: #f2f4f1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.RectanguloGris {
  top: 1440px;
  margin-left: 968px;
  width: 398px;
  height: 768px;
  background: #dce1da 0% 0% no-repeat padding-box;
  opacity: 1;
}

.FotoCasa {
  margin-top: 54px;
  margin-left: -387px;
  width: 970px;
  height: 552px;
  opacity: 1;
  position: absolute;
}

.CuadradoNaranja {
  margin-top: 303px;
  margin-left: 112px;
  width: 471px;
  height: 304px;
  background: #e0752f 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.TextoCuadradoNaranja {
  margin-top: 68px;
  margin-left: 50px;
  width: 137px;
  height: 21px;
  text-align: left;
  font: 16px "Roboto";
  letter-spacing: 0.22px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 64px;
}

.ParrafoCuadradoNaranja {
  height: 80px;
  width: 768px;
  text-align: left;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  margin-left: 50px;
  letter-spacing: 0.22px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 20px;
}

.CuadradoNaranja h4 {
  text-align: left;
  margin-left: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-size: 39px;
  font-weight: 500;
  letter-spacing: 0.55px;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 50px;
}

.FlechaIzquierda {
  top: 253px;
  margin-left: 371.3px;
  width: 20px;
  height: 20px;
  position: absolute;
}

.FlechaDerecha {
  top: 253px;
  left: 401.7px;
  width: 20px;
  height: 20px;
  position: absolute;
}

