.Section3 {
  top: 44rem;
  position: relative;
  
}
.fotoCasa {
  top: 90rem;
  margin-bottom: 0rem;
  left: 0rem;
  width: 85.375rem;
  height: 48rem;
  background: #f2f4f1 0% 0% no-repeat padding-box;
  opacity: 1;
}

.RectanguloGris {
  top: 90rem;
  margin-left: 60.5rem;
  width: 24.875rem;
  height: 48rem;
  background: #dce1da 0% 0% no-repeat padding-box;
  opacity: 1;
}

.FotoCasa {
  margin-top: 3.375rem;
  margin-left: -24.1875rem;
  width: 60.625rem;
  height: 34.5rem;
  opacity: 1;
  position: absolute;
}

.CuadradoNaranja {
  margin-top: 18.9375rem;
  margin-left: 7rem;
  width: 29.4375rem;
  height: 19rem;
  background: #e0752f 0% 0% no-repeat padding-box;
  opacity: 1;
  position: relative;
}

.TextoCuadradoNaranja {
  margin-top: 4.25rem;
  margin-left: 3.125rem;
  width: 8.5625rem;
  height: 1.3125rem;
  text-align: left;
  font: 1rem "Roboto";
  letter-spacing: 0.0138rem;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 4rem;
}

.ParrafoCuadradoNaranja {
  height: 5rem;
  width: 48rem;
  text-align: left;
  font-family: "Roboto";
  font-size: 1rem;
  font-weight: normal;
  margin-left: 3.125rem;
  letter-spacing: 0.0138rem;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 1.25rem;
}

.CuadradoNaranja h4 {
  text-align: left;
  margin-left: 3.125rem;
  margin-bottom: 0rem;
  margin-top: 0rem;
  font-size: 2.4375rem;
  font-weight: 500;
  letter-spacing: 0.0344rem;
  color: #ffffff;
  opacity: 1;
  position: relative;
  top: 3.125rem;
}

.FlechaIzquierda {
 top: 1.8125rem;
 margin-left: 22.981rem;
 width: 1.25rem;
 height: 1.25rem;
 position: relative;
 }

.FlechaDerecha {
  top: 1.8125rem;
  left: 0.981rem;
  width: 1.25rem;
  height: 1.25rem;
  position: relative;
}

